body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    
}

.center_head h1 {
    font-size: 24px;
    font-weight: 700;


        text-align: center;
        background: url(http://hdqwalls.com/wallpapers/moon-rays-red-space-sky-abstract-mountains-4c.jpg) -80px -80px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        font-weight: bold;
        font-size: 70px;
        font-family: arial, helvetica;
        /* width: 600px; */
        margin: 50px auto;
     
     
     
}

.card_view {
    color: white;
    width: 250px;
    height: 250px;
    background-color: black;
    margin: 10px;
    float: left;
}

.card-image {
    width: 250px;
    width: 250px;
}

.crop-image img {
    max-width: 600px;
}

.crop-image {
    width: 600px;
    height: 370px;
    overflow: hidden;
}

.center_head {
    padding: none;
    color: #f1e3e3;
    text-align: center;
}

#welcome {
    color: white;
}

.your_card_text {
    text-align: center;
    color: white;
}

/* link styled as button */
.consult_button {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.spiritCircle {
    width: 200px;
    height: 200px;
    /* margin:-60px 0 0 -60px; */
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(186, 133, 202, 0.5), inset 0 0 100px rgba(255,255,255,0.2);
}

.psuedoGlow{
    height: 2px;
    width: 2px;
    background-color: #fff;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}

.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
    border: 1px solid white;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}

p, h3 {
    color: white;
}

/* link styled as button */
.your_own {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 4px;
    position: fixed;
    bottom: -4px;
    right: 10px;
}

/* link styled as button */
.draw_random {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 4px;
    position: fixed;
    bottom: -4px;
    left: 10px;
}

.crop-image {
    height: 300px;
    width: 300px;
    float: left;
    background-color: pink;
}
