body {
    font-family: 'Indie Flower', cursive;
    background-color: black;
    
}

.center_head h1 {
    /* font-size: 24px;
    font-weight: 700; */


        text-align: center;
        background: url(http://hdqwalls.com/wallpapers/moon-rays-red-space-sky-abstract-mountains-4c.jpg) -80px -80px;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-stroke-width: .1px;
        -webkit-text-stroke-color: white;
        font-size: 80px; 
        font-weight: bold;     
        font-family: 'Luckiest Guy', cursive;
        margin: 50px auto;
        color: white;
     
     
     
}

.card_view {
    color: white;
    width: 250px;
    height: 250px;
    background-color: black;
    margin: 10px;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card_archive {
    width: 250px;
    height: 250px;
    margin: 10px;
    float: left;
    display: block;
   
}

.card-image {
    width: 250px;
    width: 250px;
    float: left;
    
}

.crop-image img {
    max-width: 600px;
    
}

.crop-image {
    width: 250px;
    height: 250px;
    overflow: hidden;
    
}

.center_head {
    padding: none;
    color: #f1e3e3;
    text-align: center;
}

#welcome {
    color: white;
    font-size: 12px;
    float: right;
}

.your_card_text {
    text-align: center;
    color: white;
}

.your_card_image {
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
}

/* link styled as button */
.btn {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    width: 350px;
    height: 40px;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.spiritCircle {
    width: 200px;
    height: 200px;
    /* margin:-60px 0 0 -60px; */
    -webkit-animation:spin 20s linear infinite;
    -moz-animation:spin 20s linear infinite;
    animation:spin 20s linear infinite;
    border-radius: 50%;
    box-shadow: 0 0 100px rgba(186, 133, 202, 0.5), inset 0 0 100px rgba(255,255,255,0.2);
}

.psuedoGlow{
    height: 2px;
    width: 2px;
    background-color: #fff;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
}

input {
    margin: 5px;
    margin-bottom: 10px;
}

input[type="submit"] {
    margin: 10px;
}


.message {
    padding: 10px 0;
}

.message p {
    margin-left: 10px;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
    border: 1px solid white;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
    font-size: 24px;
}


.navbar a:visited {
    color: white !important;
    text-decoration-color: purple;
    border-bottom: 10px;
}

.navbar a:hover {
    color: purple !important;
}

.navbar a:active {
    color: grey !important;
    text-decoration: none;
}



.oracle_inputs {
    width: 50%;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.oracle_submit {
    width: 50%;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #0AACFA !important;
    border-color: #0AACFA !important;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.uploadButton {
    margin-right: 50%;
    width: 50%;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}


p, h1, h3, h5 {
    color: white;
}

h1, h3 {
    text-align: center;
}

.login {
    color: grey
}
/* link styled as button */
.your_own {
    font: bold 11px Arial;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 10px 10px 10px 10px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 4px;
    position: fixed;
    bottom: -4px;
    right: 10px;
}

.random-place {
    position: center;
    display: block;
    /* margin-left: 50%; */
    float: left;
    width: 250px;
    height: 250px;
}
.crop-image {
    height: 250px;
    width: 250px;
    display: block;
    float: left;
    margin-right: 50px;
    margin-left: 290px;
}


.travel_img {
    width: 250px;
    height: 250px;
    position: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50%;
    float: left;
    border: 0px;
}

.your_oracle, .your_oracle h3 {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #0AACFA;
    font-size: 20px;
}